
/* Brand Colour Variables
----------------------------------- */

$brand-one: #000000; // #Black
$brand-two: #ffffff; // #White
$brand-three: #2E7777; // #Teal
$brand-four: #0F9E64; // #LimeGreen
$brand-five: #0A1B2E; // #DarkBlue
$brand-six: #10315C; // #DeepBlue
$brand-seven: #375FD6; // #BrightBlue
$brand-eight: #5F7FDE; // #SkyBlue
$brand-nine: #40ACCA; // #SkyBlue
$brand-ten: #C2CBDF; // #PaleGrey
$brand-eleven: #C73B3B; // #Red
$brand-twelve: #EFEFEF; // #PageGrey
$brand-thirteen: #46B7D6; // #PageGrey

/* Font Face Variables
----------------------------------- */

$font-face-one: 'Flama Basic';
$font-face-two: 'Flama Light';
$font-face-three: 'Flama Medium';
$font-face-four: 'Flama Bold';
