
/* Cookie Banner
----------------------------------- */

#cookie-law-info-bar{
    box-shadow: rgba(0,0,0,.2) 0px 5px 50px;

    span{
        font-family: $font-face-one;
    }

    .cli_settings_button{
        text-decoration: underline;
    }
}

.cli-privacy-overview h4{
    font-family: $font-face-one;
}

/* Cookie Banner [END]
----------------------------------- */
